<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='security-styles.css') }}">
    <style>
        #video-container {
            width: 50%;
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }

        video {
            width: 50%;
            height: auto;
            max-height: 400px;
        }
    </style>
</head>

<body>
    {% include 'security-sidebar.html' %}

    <video id="live-video" autoplay controls>

    </video>

</body>

</html>

</body>

</html>